html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  background-image: url(/src/assets/wallpaper.jpeg);
  background-size: cover;
  
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

.signup{
  background-color: rgba(20, 32, 100, 0.5);
  color: white;
}

.login{
  background-color: rgba(20, 32, 100, 0.5);
  color: white;
}

.navbar-dark {
  background-color: rgb(0, 0, 0);
  
}

/* .GoogleMaps{
  width: 40px;
  height: 350px;
} */

.google-maps{
  max-width: 1000px;
  max-height: 600px;
}

/* .journey-map{
  max-height: 100px;
  max-width: 100px;
} */

.journey-size{
  margin: auto;
  max-width: 800px;
  max-height: 500px;
}
.journey-body{
  background-color: rgba(83, 20, 100, 0.7);
  color: white;
  box-shadow: -7px 8px 18px 4px rgba(23,19,194,0.75);
  -webkit-box-shadow: -7px 8px 18px 4px rgba(23,19,194,0.75);
  -moz-box-shadow: -7px 8px 18px 4px rgba(23,19,194,0.75);
}

.request-size{
  margin: auto;
  max-width: 800px;
  max-height: 500px;
}
.request-body{
  background-color: rgba(20, 32, 100, 0.7);
  color: white;
  box-shadow: 8px 8px 18px 4px rgba(149,19,194,0.75);
  -webkit-box-shadow: 8px 8px 18px 4px rgba(149,19,194,0.75);
  -moz-box-shadow: 8px 8px 18px 4px rgba(149,19,194,0.75);
}

.vehicle-body{
  background-color: rgba(20, 32, 100, 0.7);
  color: white;
  box-shadow: -1px 8px 50px 10px rgba(4,0,255,0.75);
-webkit-box-shadow: -1px 8px 50px 10px rgba(4,0,255,0.75);
-moz-box-shadow: -1px 8px 50px 10px rgba(4,0,255,0.75);
}

.profile-card {
  color: white;
  border-radius: 40%; 
  
}

.profile-info{
  background-color: rgb(4, 242, 242, .8);
  color: black;
}

.vehicle-info{
  background-color: rgb(0, 162, 162, .7);
  color: black;
}

.image-container{

}

.journey-or-request{
  margin: auto;
  max-width: 200px;
}

/* .RRforms{
  background-color: blue;
} */

.nav-link{
  color: red;
}

.aboutUs{
  background-color: rgba(110, 31, 31, 0.762);
  color: white;
  height:200px;
  text-align: center;
  box-shadow: -1px 102px 400px 31px rgba(0,0,0,0.51);
  -webkit-box-shadow: -1px 102px 400px 31px rgba(0,0,0,0.51);
  -moz-box-shadow: -1px 102px 400px 31px rgba(0,0,0,0.51);
}

.map-search {
  color: white;
}